@import url(../css/components/button.css);
@import url(../css/components/table.css);
@import url(../css/components/input.css);
@import url(../css/components/dialog.css);
@import url(../css/components/combobox.css);
@import url(../css/components/paging.css);

body {
  font-family: MISA Font;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

@font-face {
  font-family: MISA Font;
  src: url(/assets/font/GoogleSans-Regular.otf);
}

@font-face {
  font-family: MISA Font Bold;
  src: url(/assets/font/GoogleSans-Bold.otf);
}

@font-face {
  font-family: MISA Font Italic;
  src: url(/assets/font/GoogleSans-Italic.otf);
}

.m-row {
  width: 100%;
  margin: 10px 0;
}
