.m-header {
  height: 48px;
  width: 100%;
  display: flex;
}

.m-header .header-left {
  width: 225px;
  height: 100%;
  border-right: 1px solid #bbb;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.m-header .header-right {
  width: calc(100% - 225px);
  height: 100%;
  /* background-color: red; */
}

.m-header .header-left .sidebar {
  width: 24px;
  height: 24px;
  background-image: url(/assets/img/toggle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.m-header .header-left .logo {
  width: 100%;
  height: 24px;
  background-image: url(/assets/img/cukcuk-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.m-header .header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #bbb;
}

.m-header .header-right .branch {
  display: flex;
  align-items: center;
}

.m-header .header-right .branch .branch-logo {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin-left: 8px;
  background-color: aqua;
  /* background-image: url(/assets/img/default-avatar.jpg); */
  background-size: contain;
}

.m-header .header-right .branch .header-text {
  margin-left: 10px;
}

.m-header .header-right .branch .arrow {
  margin-left: 10px;
  height: 16px;
  width: 16px;
  background-image: url(/assets/icon/btn-next-page.svg);
  background-size: contain;
  transform: rotate(90deg);
}

.m-header .header-right .user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.m-header .header-right .user .noti {
  height: 20x;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.m-header .header-right .user .user-info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.m-header .header-right .user .user-info .user-ava {
  width: 24px;
  height: 24px;
  border-radius: 10000px;
  background-image: url(/assets/icon/avatar-default.png);
  background-size: contain;
}

.m-header .header-right .user .option {
  font-size: 16px;
}
