.m-button {
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  background-color: #01b075;
  color: #fff;
  padding: 0 24px;
  text-align: center;
  border: none;
  min-width: 100px;
}

.m-button:hover {
  background-color: #2fbe8e;
}

.m-button:active {
  background-color: #01b075;
}

.m-button-icon {
  background-size: 16px 16px;
  background-image: url(/assets/icon/add.png);
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 40px;
  padding-right: 16px;
}

.m-button-error {
  background-color: #f65454;
}

.m-button-error:hover {
  background-color: #fd7575;
}

.m-button-normal {
  background-color: transparent;
  color: #000;
}

.m-button-normal:hover {
  background-color: #bbb;
}

.btn-refresh {
  width: 40px !important;
  height: 40px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #fff;
  background-image: url(/assets/icon/refresh.png);
  background-repeat: no-repeat;
  background-position: center;
}
