.m-combobox {
  position: relative;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #bbb;
  display: flex;
  border: none;
}

.m-combobox input {
  width: calc(100% - 40px);
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #bbb;
  border-right: none;
  padding-left: 16px;
}

.m-combobox input:focus {
  border: 1px solid #019160;
  border-right: none;
  outline: none;
}

.m-combobox input::placeholder {
  font-family: MISA Font;
  color: #bbb;
}

.m-combobox button {
  width: 40px;
  flex-shrink: 0;
  border: 1px solid #bbb;
  border-radius: 0px 4px 4px 0px;
  background-color: #fff;
}

.m-combobox button.button-focus {
  border: 1px solid #019160;
  border-left: 1px solid #bbb;
}

.m-combobox button.button-active {
  background-color: #e5e5e5;
}

.m-combobox .m-combobox-data {
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
  box-shadow: 1px 5px 20px 1px rgb(0 0 0 / 11%);
  padding: 4px 0;
  border-radius: 4px;
  z-index: 99;
}

.m-combobox .m-combobox-data .m-combobox-item {
  height: 40px;
  padding-left: 36px;
  display: flex;
  align-items: center;
}

.m-combobox .m-combobox-data .m-combobox-item:hover {
  background-color: #e9ebee;
}

/* Chấm liền thì cùng cập */
.m-combobox .m-combobox-data .m-combobox-item.m-combobox-itemselected {
  background-color: #019160;
  padding-left: 10px;
  color: #fff;
}

.m-combobox .m-combobox-data .m-combobox-itemselected .fa-check {
  font-size: 16px;
  line-height: 16px;
  margin-right: 10px;
}
