.m-combobox {
  position: relative;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #bbb;
  display: flex;
  border: none;
}

.m-combobox input {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #bbb;
  border-right: none;
  outline: none;
}

.m-combobox button {
  width: 40px;
  flex-shrink: 0;
  background-image: url(/assets/icon/btn-prev-page.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  border: 1px solid #bbb;
  border-radius: 0px 0px 4px 4px;
}

.m-combobox .m-combobox-data {
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
  box-shadow: 3px 5px 5px 3px rgb(0 0 0 / 11%);
}

.m-combobox .m-combobox-data .m-combobox-item {
  height: 40px;
  padding-left: 36px;
  display: flex;
  align-items: center;
}

.m-combobox .m-combobox-data .m-combobox-item:hover {
  background-color: #e9ebee;
}

/* Chấm liền thì cùng cập */
.m-combobox .m-combobox-data .m-combobox-item.m-combobox-itemselected {
  background-color: #019160;
  background-image: url(/assets/icon/btn-next-page.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px 16px;
}
