.m-dialog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.215);
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}

.m-dialog .m-popup {
  position: absolute;
  width: 500px;
  height: auto;
  background-color: #fff;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.2);
}

.m-dialog .m-popup .m-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(/assets/icon/x.svg);
  background-position: center;
}

.m-dialog .m-popup .m-popup-main {
  padding: 24px;
}

.m-dialog .m-popup .m-popup-main .m-popup-header {
  margin-bottom: 24px;
  padding-right: 24px;
  font-weight: bold;
  font-size: 15px;
}

.m-dialog .m-popup .m-popup-button {
  padding: 10px 24px 10px 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #e5e5e5;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}

.m-dialog .m-popup .m-popup-button .m-button:last-child {
  margin-left: 16px;
}
