.m-dialog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.341);
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}

.m-dialog .m-popup {
  position: absolute;
  width: 50%;
  height: 90vh;
  background-color: #fff;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.2);
}

.m-dialog .m-popup .m-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(/assets/icon/x.svg);
  background-position: center;
  border-radius: 4px;
}

.m-dialog .m-popup .m-close:hover {
  background-color: #e5e5e5;
}

.m-dialog .m-popup .m-close:active {
  background-color: #bbb;
}

.m-dialog .m-popup .m-popup-main {
  padding: 24px;
  height: 100%;
}

.m-dialog .m-popup .m-popup-main .m-popup-header {
  height: 48px;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.m-dialog .m-popup .m-popup-main .m-popup-content {
  display: flex;
  height: calc(100% - 48px);
}

/* content right */
.m-popup-main .m-popup-content .content-right {
  width: calc(100% - 15%);
  padding-left: 16px;
  box-sizing: border-box;
}

.m-popup-main .m-popup-content .content-right .group-fields {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.m-popup-main .m-popup-content .content-right .content-header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}

.m-popup-main .m-popup-content .content-right .content-header::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: #019160;
  position: absolute;
  bottom: 0;
  left: 0;
}

.m-popup-main .m-popup-content .content-right .content-fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.m-popup-main .m-popup-content .content-right .content-fields .field {
  width: calc(50% - 5px);
  margin-bottom: 16px;
}

.content-fields .field input {
  width: 100%;
}

.m-popup-main .m-popup-content .content-right .content-fields .field label {
  margin-bottom: 5px;
}

.m-popup-main
  .m-popup-content
  .content-right
  .content-fields
  .field
  label
  span {
  color: red;
}

/* content left */
.m-dialog .m-popup .m-popup-main .m-popup-content .content-left {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.m-dialog .m-popup .m-popup-main .m-popup-content .content-left .user-ava {
  width: 100%;
  aspect-ratio: 1;
  background-image: url(/assets/img/default-avatar.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 1px solid #bbb;
}

/* group button */
.m-dialog .m-popup .m-popup-button {
  position: absolute;
  bottom: 0;
  padding: 10px 24px 10px 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color: #e5e5e5;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}

.m-dialog .m-popup .m-popup-button .m-button:last-child {
  margin-left: 16px;
}
