.m-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

.m-table tr {
  height: 46px;
  border-bottom: 1px solid #bbb;
  padding: 0;
}

.m-table tbody tr:hover {
  background-color: #2fbe8e;
}

.m-grip {
  width: 100%;
  height: calc(100% - 80px);
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  background-color: aquamarine;
}

.m-grip .m-contain-table {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.m-grip .m-paging {
  position: absolute;
  background-color: red;
  width: 100%;
  bottom: 0;
}
