.m-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

.m-table tr {
  height: 46px;
  border-bottom: 1px solid #bbb;
  padding: 0;
}

.m-table tr td,
.m-table tr th {
  padding: 0 5px;
}

.m-table tbody tr:hover {
  cursor: pointer;
  background-color: #2fbe8e;
}

.m-table thead tr th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.m-grip {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.m-grip .m-contain-table {
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
}

.m-grip .m-paging {
  position: absolute;
  background-color: #fff;
  width: 100%;
  bottom: 0;
}
